.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

#!.yarn/cache
.pnp.*
.env
/.idea/
/node_modules/
/.env.prod
/plans/
# Dépendances
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables d'environnement
.env
.env.local
.env.development
.env.test
.env.production

# Dossiers de build
dist/
build/

# Fichiers de couverture de test
coverage/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Prisma
.prisma/

# Docker
.docker/

# Volumes Docker
postgres_data/
postgres_dev_data/